.proj_section {
    min-height: auto;
}

.proj_title {}

.proj_cards {

    .infoCard {
        margin: 2.5rem;
        padding-bottom: 0;
        gap: 0;

        .infoCard_headerText {
            margin-bottom: 0;
            font-size: 1.3rem;
        }

        .infoCard_subheader {
            margin-bottom: 0;

            .infoCard_subheaderCol-1 {
                flex: 1.75;
                color: var(--color-text-dim);
            }

            .infoCard_subheaderCol-2 {
                flex: 1;
                align-items: flex-end;
                color: var(--color-highlight);
            }

            .infoCard_subheaderItem {
                font-size: 1rem;
            }
        }

        .infoCard_pills {
            .pills_title {
                margin-bottom: 0.5rem;
            }
        }
    }
}