.work_section {
    min-height: auto;
}

.work_title {}

.work_cards {

    .infoCard {

        padding-bottom: 0;

        .infoCard_headerText {
            margin-bottom: 0.5rem;
        }

        .infoCard_subheader {
            margin-top: 0;
            margin-bottom: 1rem;

            .infoCard_subheaderCol-1 {
                color: var(--color-highlight);
            }

            .infoCard_subheaderCol-2 {
                align-items: flex-end;
                color: var(--color-text-dim);
            }
        }
    }
}