section {
    padding: 4rem 2rem;
    min-height: 100vh;
    border-bottom: 1px solid var(--color-border);
}

.text-center {
    text-align: center;
}

hr {
    width: 20%;
    border: none;
    border-top: 1px dashed var(--color-border);
    margin: 2rem auto;
    opacity: 1;
    align-items: center;
}