section {
    margin-top: 2rem;
    padding: 2rem 2rem;
    min-height: 100vh;
    min-height: auto;
}

.divider {
    width: 20%;
    border: none;
    border-top: 1px dashed var(--color-border);
    margin: 2rem auto;
    opacity: 1;
    align-items: center;
}