$dark-1: #111111;
$dark-2: #030432;
$dark-3: #0e285c;

$link-1: #3d85c4;
$link-2: #52a3bc;

$highlight-dk: #d98627;
$highlight-lt: #f2a249;

$light-3: #a9b9d1;
$light-2: #eeeeee;
$light-1: #ffffffff;


