$dark-1: #111111;
$dark-2: #1d1d2d;
$dark-3: #1e2b44;

$link-1: #3d85c4;
$link-2: #52a3bc;

$highlight-dk: #be6806;
$highlight-lt: #e58211;

$light-3: #bacbe4;
$light-2: #eeeeee;
$light-1: #ffffffff;


