$dark-1: #111111;
$dark-2: #0b132bff;
$dark-3: #1c2541ff;

$dark-mid-1: #2f4a80ff;
$dark-mid-2: #3a5a9eff;

$light-mid-2: #9dadcfff;
$light-mid-1: #ced6e7ff;

$light-3: #dee2eb;
$light-2: #dddddd;
$light-1: #ffffffff;