// Default: light mode
:root {
  /* Light mode */
  --color-bg: #{$light-2};
  --color-text: #{$dark-1};
  --color-text-2: #{$dark-2};

  --color-heading: #{$dark-3};
  --color-border: #{$dark-2};

  --color-link: #{$dark-mid-2};
  --color-link-hover: #{$dark-mid-1};
}


// Override: dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #{$dark-2};
    --color-text: #{$light-1};
    --color-text-2: #{$light-2};

    --color-heading: #{$light-3};
    --color-border: #{$light-2};

    --color-link: #{$light-mid-2};
    --color-link-hover: #{$light-mid-1};
  }
}