.pills {}

.pills_title {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin: 0.5rem 0.2rem 0.25rem;
    color: var(--color-text-dim)
}

.pills_items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pills_items-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
}

.pills_items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--pill-size, 70px), 1fr));
    grid-auto-rows: var(--pill-size, 70px);
    gap: 0.8rem;

    align-items: center;
    justify-items: center;
}

.pill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--pill-size, auto);
    height: var(--pill-size, auto);
    border-radius: 10px;
    padding: 0.2rem;

    font-size: 0.8rem;
    text-decoration: none;
    color: var(--color-text-dim);

    transition: transform 0.15s ease;

    &:hover {
        color: var(--color-text-pop);
        background: var(--color-bg-pop);
        transform: scale(1.1);
    }
}

.pills_icon {
    font-size: 2.5rem;
}