@use '../../styles/palette';

.about {}

.about_content {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 4rem;
}

.about_intro {
    flex: 0 0 55%;
    max-width: 600px;
    text-align: left;

    h1 {
        color: var(--color-highlight);
        font-family: 'Playwrite US Trad', cursive;
        font-size: 3rem;
        text-transform: none;
    }

    h2 {
        color: var(--color-text-dim);
        font-style: italic;
        font-size: 0.9rem;
        font-weight: 200;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem;

        strong {
            font-weight: 400;
            color: var(--color-highlight-dim);
        }
    }
}

.about_animation {
    flex: 0 0 45%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_lottie {
    width: 100%;
}

.contact_icons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;

    a {
        font-size: 2.8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

// SKILLS
.skills {
    margin-top: 3rem;
    margin-inline: auto;

    display: flex;
    gap: 5rem;
    align-items: center;

    padding-inline: 0.5rem;

    --pill-size: 70px
}

.skills_pills {
    flex: 1;
}

.skill_pill {}



.skills_bullets {
    flex: 1.8;
    text-align: left;
}

.skills_title {
    font-size: 1.4rem;
    color: var(--color-highlight);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
}

.skills_bullets ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.skills_bullets li {
    margin-bottom: 1rem;
    font-size: 1.05rem;
    line-height: 1.5;
}

/* Mobile tweak */
@media (max-width: 768px) {
    .skills-row {
        flex-direction: column;
    }

    .skills-icons,
    .skills-bullets {
        flex: 1 1 auto;
        width: 100%;
    }
}