@use '../../styles/palette';

.about-section {}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 4rem;
}

.about-text {
  flex: 0 0 55%;
  max-width: 600px;
  text-align: left;

  h1 {
    color: var(--color-highlight);
    font-family: 'Playwrite US Trad', cursive;
    font-size: 3rem;
  }

  h2 {
    color: var(--color-text-dim);
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 200;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.3rem;

    strong {
      font-weight: 400;
      color: var(--color-highlight-dim);
    }
  }
}

.about-animation {
  flex: 0 0 45%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-lottie {
  width: 100%;
}

.contact-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;

  a {
    font-size: 2.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

// SKILLS
.skills-row {
  margin-top: 3rem;
  display: flex;
  gap: 5rem;

  margin-inline: auto;
  padding-inline: 0.5rem;

  align-items: center;
}

.skills-icons {
  flex: 0 0 35%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-auto-rows: 70px;

  justify-items: stretch;
  align-items: center;

  gap: 0.8rem;
  padding: 0.1rem;
}

.skill-pill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  width: 70px;
  height: 70px;
  padding: 0.1rem;

  border-radius: 10px;

  opacity: 0.8;
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.1);
    background-color: var(--color-bg-pop);
    border: 1px solid var(--color-border);
    opacity: 1;
  }
}

.skill-icon {
  font-size: 2.4rem;
  margin-bottom: 0.15rem;
}

.skill-pill span {
  font-size: 0.75rem;
  opacity: 0.9;
}

.skills-bullets {
  flex: 0 0 65%;
  text-align: left;
}

.skills-title {
  font-size: 1.4rem;
  color: var(--color-highlight);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

.skills-bullets ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.skills-bullets li {
  margin-bottom: 1rem;
  font-size: 1.05rem;
  line-height: 1.5;
}

/* Mobile tweak */
@media (max-width: 768px) {
  .skills-row {
    flex-direction: column;
  }

  .skills-icons,
  .skills-bullets {
    flex: 1 1 auto;
    width: 100%;
  }
}