@use '../../styles/palette';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    z-index: 1000;
}

.navlist {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 1rem;
    list-style: none;
}

.navlist li {
    display: flex;
}

.navlist li a {
    color: var(--color-text-2);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease;

    .navicon {
        font-size: 1.4rem;
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 6px;
        
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }


    &:hover,
    &.active {
        color: var(--color-text);

        .navicon {
            opacity: 1;
            transform: scale(1.1);
        }
    }

    &:hover {
        text-decoration-line: underline overline;
        text-decoration-style: dashed;
        text-decoration-thickness: 1px;
        text-underline-offset: 6px;
        text-decoration-skip-ink: none;
    }
}