.edu_section {
    min-height: auto;
}

.edu_title {}

.edu_cards {

    .infoCard {
        border-radius: 0;
        gap: 0.5rem;
        background-color: var(--color-bg);
        border: var(--color-bg);

        &:hover {
            background-color: var(--color-bg);
            border: var(--color-bg);
            box-shadow: none;

            .underliner::before {
                width: 100%;
            }

            .underliner::after {
                width: 0%;
            }
        }

        .underliner {
            position: relative;
            height: 1px;
            margin-top: 1rem;
            margin-left: -3rem;

            border: none;
            border-top: 1px dashed var(--color-border-dim);
            opacity: 1;


            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0px;
                height: 3px;

                background: var(--color-highlight-dim);
                width: 0%;
                transition: width 0.5s ease;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 3px;

                background: var(--color-bg-pop);
                width: 100%;
                transition: width 0.5s ease;
            }
        }

        .infoCard_headerText {
            margin-bottom: 0.5rem;
        }

        .infoCard_subheader {
            margin-top: 0;

            .infoCard_subheaderCol-1 {
                color: var(--color-highlight);
            }

            .infoCard_subheaderCol-2 {
                align-items: flex-end;
                color: var(--color-text-dim);
            }

            .infoCard_subheaderItem {
                font-size: 1rem;
            }
        }

        .infoCard_pills {
            .pills_title {
                margin-top: 0;
                text-align: left;
            }
        }

        .infoCard_paragraph {
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }
}