@use 'palette';
@use 'themes';
@use 'typography';
@use 'layout';

// Transitions
body, a, section {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;

    &:hover {
        color: var(--color-link-hover);
        text-decoration: underline;
    }
}